
@{
    ViewBag.Title = "Error 404";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Dashboard</a></li>
        <li class="active">Error</li>
    </ol>
</section>
<h2>
    <strong> ERROR 404 : Not Found</strong>
    <small></small>
</h2>
<hr />
<br />
<div id="error">
    <h4>
        Oops!!...
        The resouce you are looking for could not be found.
        Contact your system administrator for more information.
    </h4>
</div>
